@*<form method="get" action="/Autentifikacija/Odjava">
        <div class="alert">
            <h1>Desila se greška.</h1>
            <button type="submit" style="width:60px;height:60px; font-size:large">Ok</button>
        </div>
    </form>*@

<form method="get" action="/Autentifikacija/Odjava">
    <div class="modal fade" id="dodajNarudzbinu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-body">
                        <div class="alert">
                            <h1>Desila se greška.</h1>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" style="width:60px;height:60px; font-size:large">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>