@model PrijavaViewModel

<div class="rounded-circle input-group-text" style=" margin-top:6%; width: 100%; height: 500px; background-repeat: repeat-x; background-image: url(../slike/prijava2.jpg) ">
    <form method="post" action="/Autentifikacija/Prijava" style="text-align: start; margin-top: 10%">
        <div class="form-group">
            <label style="color:black;font-size:medium">Korisnicko ime: </label>
            <input class="rounded-pill text-center" type="text" asp-for="@Model.KorisnickoIme" value="taca" />
            <span style="color: red; font-size: xx-large; position: fixed " asp-validation-for="KorisnickoIme"></span>
        </div>
        <div class="form-group" style="margin-left:52px">
            <label style="color:black;font-size:medium">Lozinka: </label>
            <input class="rounded-pill text-center" type="password" asp-for="@Model.Lozinka" value="Taca123!" />
            <span style="color: red; font-size: xx-large; position:fixed" asp-validation-for="Lozinka"></span>
        </div>
        <div class="form-group" style="display:inline-flex; width:50%; margin-left:10%; height:100px">
            <div style="position: relative; margin:10px">
                <input class="btn btn-primary btn-outline-dark" style="position:static" type="submit" value="Prijavi se" />
            </div>
            <div class="alert-danger" style="height:28px;padding-right:10px; position: relative; margin-top:10px; margin-left:0; margin-right:0" asp-validation-summary="ModelOnly"></div>
        </div>
    </form>
    <div style="color:black;font-size:medium; margin-left:4%; margin-top:8%">
        Nemas nalog? <a href="/Autentifikacija/registracija">Kreiraj ga!</a>
    </div>
</div>