@using Domen
@model List<Cvet>


@foreach (Cvet item in Model)
{
    <div>
        <div>
            <label>Naziv: @item.Naziv</label>
        </div>
        <div>
            <label>Familija: @item.Familija</label>
        </div>
        <div>
            <label>Boja: @item.Boja</label>
        </div>
        <div>
            <label>Cena: @item.Cena</label>
        </div>
        <div>
            <a class="align-content-md-end" asp-area="" asp-action="Index" asp-controller="Narudzbina" method="post">DODAJ</a>
        </div>
    </div>
}
