@model NarudzbinaViewModel

<form method="get" action="/Narudzbina/Edit">
    <div class="modal fade" id="dodajNarudzbinu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="background-color:#ef9f9f" class="modal-header">
                    <h4 class="modal-title" id="dodajNarudzbinuLabel">Pretraži narudžbine</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <div>
                    <div class="modal-body">
                        <input style="margin-left:10px; text-align:center" placeholder="unesi korisničko ime" class="rounded-pill" id="korIme" type="text" asp-for="@Model.Kupac" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn-outline-dark btn btn-primary" data-save="modal">Pretraži</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>