@model KreirajKupcaViewModel

<form>
    <div>
        <label>Ime: </label>
    </div>
    <div>
        <label>Prezime: </label>
    </div>
    <div>
        <label>Broj telefona: </label>
    </div>
    <div>
        <label>Email: </label>
    </div>
    <div>
        <label>Korisnicko ime: </label>
    </div>
    <div style="display:inline-flex" class="btn-group">
        <button style="margin:10px" class="btn-light" asp-action="Edit">Izmeni</button>
        <button style="margin:10px" class="btn-light" asp-action="">Obrisi</button>
    </div>
</form>