@using Domen
@model List<ProdajnoMesto>

@foreach (ProdajnoMesto item in Model)
{
            <label>Adresa: @item.Adresa</label>
                <label>Radno vreme: @item.RadnoVreme</label>
                    <label>Sajt: @item.Sajt</label>
            
}