@using Domen
@model List<ProdajnoMesto>

@foreach (ProdajnoMesto item in Model)
{
    <div>
        <div>
            <label>Adresa: @item.Adresa</label>
            <div>
                <label>Radno vreme: @item.RadnoVreme</label>
                <div>
                    <label>Sajt: @item.Sajt</label>
                    <div>
                        <label>Slika: @item.Slika</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}